.icon-cold-style {
    width : 40px;
    height: 40px;
}

.icon-hot-style {
    margin-top: 8px;
}

.button-style {
    margin-top  : 15px;
    margin-right: 10px;
    margin-left : 10px;
}

.div-style {
    padding-top: 10px;
}